<p id="notice bg-danger"><%= notice %></p>

<h1>Dépenses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Titre</th>
      <th>Montant</th>
      <th>Payeur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td scope="row"><%= expense.id %></td>
        <td><%= expense.title %></td>
        <td><%= expense.amount_money %></td>
        <td><%= expense.user.name %></td>

        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn btn_secondary">
  <%= link_to "Ajouter une dépense", new_expense_path %>
</button>