<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @expense.title %>
</p>

<p>
  <strong>Montant:</strong>
  <%= @expense.amount_money %>
</p>

<p>
  <strong>Créer par:</strong>
  <%= @expense.user.name %>
</p>

<p>
	<strong>Bénéficiaires:</strong>

	<% @expense.users.each  do |user|  %>
 		<li><%= user.name %></li>
    <% end %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
